{
  "openapi": "3.0.1",
  "info": {
    "title": "REPS Admin > 관리자 관리",
    "description": "REPS Admin > 관리자 관리",
    "version": "v1"
  },
  "servers": [
    { "url": "https://reps-admin-api.r114.com", "description": "운영 서버" },
    { "url": "http://218.237.65.185:8089", "description": "개발 서버" },
    { "url": "http://127.0.0.1:8089", "description": "로컬 서버" }
  ],
  "security": [{ "JWT": [] }],
  "tags": [
    { "name": "Login", "description": "로그인 API" },
    { "name": "Admin", "description": "관리자 API" },
    { "name": "Board", "description": "게시판 관리 API" },
    { "name": "Authorization", "description": "권한 관리 API" },
    { "name": "Advertise", "description": "광고 관리 API" },
    { "name": "User", "description": "회원 관리 API" },
    { "name": "Contract", "description": "계약 관리 API" },
    { "name": "Code", "description": "공통코드 API" }
  ],
  "paths": {
    "/api/v1/user/reset-password/{userCd}": {
      "put": {
        "tags": ["User"],
        "summary": "회원 계정의 비밀번호 초기화",
        "description": "회원 계정의 비밀번호 초기화",
        "operationId": "resetUserPassword",
        "parameters": [
          {
            "name": "userCd",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCommonResponseVoid"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/contract": {
      "put": {
        "tags": ["Contract"],
        "summary": "계약 수정",
        "description": "계약 수정",
        "operationId": "updateContract",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": ["request"],
                "type": "object",
                "properties": {
                  "request": {
                    "$ref": "#/components/schemas/ContractUpdateRequest"
                  },
                  "file": { "type": "string", "format": "binary" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCommonResponseVoid"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Contract"],
        "summary": "계약 등록",
        "description": "계약 등록",
        "operationId": "createContract",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": ["request"],
                "type": "object",
                "properties": {
                  "request": {
                    "$ref": "#/components/schemas/ContractCreateRequest"
                  },
                  "file": { "type": "string", "format": "binary" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCommonResponseCreateContractResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/board/{postNo}": {
      "get": {
        "tags": ["Board"],
        "summary": "공지사항 상세조회",
        "description": "공지사항 상세조회 및 첨부파일 목록 조회",
        "operationId": "getBoardDetail",
        "parameters": [
          {
            "name": "postNo",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCommonResponseBoardDetailResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Board"],
        "summary": "공지사항 수정",
        "description": "공지사항 수정",
        "operationId": "updateBoard",
        "parameters": [
          {
            "name": "postNo",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/BoardUpdateRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCommonResponseBoardCreateResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Board"],
        "summary": "공지사항 삭제",
        "description": "공지사항 삭제",
        "operationId": "deleteBoard",
        "parameters": [
          {
            "name": "postNo",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCommonResponseMapStringObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/advertise/{advtNo}": {
      "get": {
        "tags": ["Advertise"],
        "summary": "광고 상세조회",
        "description": "광고 상세조회",
        "operationId": "getAdvertiseDetail",
        "parameters": [
          {
            "name": "advtNo",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCommonResponseAdvertiseDetailResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Advertise"],
        "summary": "광고 수정",
        "description": "광고 수정",
        "operationId": "updateAdvertise",
        "parameters": [
          {
            "name": "advtNo",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdvertiseUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCommonResponseAdvertiseCreateResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Advertise"],
        "summary": "광고 삭제",
        "description": "광고 삭제",
        "operationId": "deleteAdvertise",
        "parameters": [
          {
            "name": "advtNo",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCommonResponseMapStringObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/reset-password/{adminCd}": {
      "put": {
        "tags": ["Admin"],
        "summary": "관리자 계정의 비밀번호 초기화",
        "description": "관리자 계정의 비밀번호 초기화",
        "operationId": "resetAdminPassword",
        "parameters": [
          {
            "name": "adminCd",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCommonResponseVoid"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/me/password": {
      "put": {
        "tags": ["Admin"],
        "summary": "비밀번호 변경",
        "description": "관리자가 본인 비밀번호 변경",
        "operationId": "changeMyPassword",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminPasswordChangeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCommonResponseVoid"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/user": {
      "post": {
        "tags": ["User"],
        "summary": "회원 등록",
        "description": "회원 등록",
        "operationId": "createUser",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UserCreateRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCommonResponseVoid"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": ["User"],
        "summary": "회원 정보 수정",
        "description": "회원 정보 수정",
        "operationId": "updateUser",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UserUpdateRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCommonResponseVoid"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/board/uploadFile": {
      "post": {
        "tags": ["Board"],
        "summary": "첨부파일 등록",
        "description": "첨부파일 등록",
        "operationId": "uploadFile",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": ["files"],
                "type": "object",
                "properties": {
                  "files": {
                    "type": "array",
                    "items": { "type": "string", "format": "binary" }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCommonResponseListBoardAttResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/board/": {
      "post": {
        "tags": ["Board"],
        "summary": "공지사항 등록",
        "description": "공지사항 등록",
        "operationId": "createBoard",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/BoardCreateRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCommonResponseBoardCreateResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/authorization": {
      "post": {
        "tags": ["Authorization"],
        "summary": "권한 등록",
        "description": "권한 등록",
        "operationId": "createAuthorization",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthorizationCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCommonResponseVoid"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Authorization"],
        "summary": "권한 삭제",
        "description": "권한 삭제",
        "operationId": "deleteAuthorization",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthorizationDeleteRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCommonResponseVoid"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": ["Authorization"],
        "summary": "권한 수정",
        "description": "권한 수정",
        "operationId": "updateAuthorization",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthorizationUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCommonResponseVoid"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/validate": {
      "post": {
        "tags": ["Login"],
        "summary": "토큰 유효성 검증",
        "description": "현재 Access Token의 유효성을 검증하고 사용자 정보를 반환합니다.",
        "operationId": "validateToken",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCommonResponseLoginResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/logout": {
      "post": {
        "tags": ["Login"],
        "summary": "관리자 계정 로그아웃",
        "description": "관리자 계정 로그아웃",
        "operationId": "logout",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCommonResponseVoid"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/login": {
      "post": {
        "tags": ["Login"],
        "summary": "관리자 계정 로그인",
        "description": "관리자 계정 로그인",
        "operationId": "login",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/LoginRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCommonResponseLoginResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/advertise/uploadFile": {
      "post": {
        "tags": ["Advertise"],
        "summary": "첨부파일 등록",
        "description": "첨부파일 등록",
        "operationId": "uploadFile_1",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": ["file"],
                "type": "object",
                "properties": {
                  "file": { "type": "string", "format": "binary" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCommonResponseAdvertiseFileResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/advertise/": {
      "post": {
        "tags": ["Advertise"],
        "summary": "광고 등록",
        "description": "광고 등록",
        "operationId": "createAdvertise",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdvertiseCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCommonResponseAdvertiseCreateResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin": {
      "post": {
        "tags": ["Admin"],
        "summary": "관리자 계정 등록",
        "description": "관리자 계정 등록",
        "operationId": "createAdmin",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/AdminCreateRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCommonResponseVoid"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Admin"],
        "summary": "관리자 계정 삭제",
        "description": "관리자 계정 삭제",
        "operationId": "deleteAdmin",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/AdminDeleteRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCommonResponseVoid"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": ["Admin"],
        "summary": "관리자 계정 수정 (상태/권한 변경)",
        "description": "관리자 계정 수정 (상태/권한 변경)",
        "operationId": "updateAdmin",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/AdminUpdateRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCommonResponseVoid"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/advertise/changeDisOrdNo": {
      "patch": {
        "tags": ["Advertise"],
        "summary": "광고 순서 변경",
        "description": "선택한 2개의 광고 노출 순서 변경",
        "operationId": "changeAdvertiseOrder",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdvertiseOrderChangeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCommonResponseMapStringObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/auth": {
      "patch": {
        "tags": ["Admin"],
        "summary": "관리자 계정 권한 변경",
        "description": "관리자 계정 권한 변경",
        "operationId": "updateAdminAuth",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminAuthUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCommonResponseAdminUpdateAuthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/approve": {
      "patch": {
        "tags": ["Admin"],
        "summary": "관리자 계정 승인",
        "description": "관리자 계정 승인",
        "operationId": "approveAdmin",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ApproveAdminRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCommonResponseVoid"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/user/{userCd}": {
      "get": {
        "tags": ["User"],
        "summary": "회원 계정 상세조회",
        "description": "회원 계정 상세조회",
        "operationId": "getUserDetail",
        "parameters": [
          {
            "name": "userCd",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCommonResponseUserDetailResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/user/log": {
      "get": {
        "tags": ["User"],
        "summary": "회원 계정 업데이트 이력 조회",
        "description": "회원 계정 업데이트 이력 조회",
        "operationId": "getAdminUpdateLogList",
        "parameters": [
          {
            "name": "request",
            "in": "query",
            "required": true,
            "schema": { "$ref": "#/components/schemas/UserLogRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCommonResponseUserLogResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/user/list": {
      "get": {
        "tags": ["User"],
        "summary": "회원 목록 조회",
        "description": "회원 목록 조회 및 총 건수 조회",
        "operationId": "getUserList",
        "parameters": [
          {
            "name": "request",
            "in": "query",
            "required": true,
            "schema": { "$ref": "#/components/schemas/UserListRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCommonResponseUserListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/user/ips": {
      "get": {
        "tags": ["User"],
        "summary": "회원 IP 목록 조회",
        "description": "회원 IP 목록 조회 및 총 건수 조회",
        "operationId": "getUserIPList",
        "parameters": [
          {
            "name": "request",
            "in": "query",
            "required": true,
            "schema": { "$ref": "#/components/schemas/UserIPListRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCommonResponseUserIPLIstResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/user/excel": {
      "get": {
        "tags": ["User"],
        "summary": "회원 목록 조회 (엑셀 다운로드)",
        "description": "회원 목록 조회 (엑셀 다운로드)",
        "operationId": "getUserListExcel",
        "parameters": [
          {
            "name": "request",
            "in": "query",
            "required": true,
            "schema": { "$ref": "#/components/schemas/UserExcelListRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCommonResponseListUserListExcelResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/user/duplicate-id/{userId}": {
      "get": {
        "tags": ["User"],
        "summary": "아이디 중복 체크",
        "description": "아이디 중복 체크",
        "operationId": "checkDuplicateId",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCommonResponseBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/user/access-info": {
      "get": {
        "tags": ["User"],
        "summary": "회원 접속정보 목록 조회 (로그인/로그아웃)",
        "description": "회원 접속정보 목록 조회 및 총 건수 조회",
        "operationId": "getUserAccessInfoList",
        "parameters": [
          {
            "name": "request",
            "in": "query",
            "required": true,
            "schema": { "$ref": "#/components/schemas/UserAccessInfoRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCommonResponseUserAccessInfoResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/user/access-history": {
      "get": {
        "tags": ["User"],
        "summary": "회원 사용이력 목록 조회",
        "description": "회원 사용이력 목록 조회 및 총 건수 조회",
        "operationId": "getUserAccessHistoryList",
        "parameters": [
          {
            "name": "request",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/UserAccessHistoryRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCommonResponseUserAccessHistoryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/contract/{contractCd}": {
      "get": {
        "tags": ["Contract"],
        "summary": "계약정보 상세조회",
        "description": "계약정보 상세조회",
        "operationId": "getContractDetail",
        "parameters": [
          {
            "name": "contractCd",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCommonResponseContractDetailResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/contract/validateBizNo/{bizNo}": {
      "get": {
        "tags": ["Contract"],
        "summary": "사업자등록번호 검증",
        "description": "사업자등록번호 검증",
        "operationId": "validateBizNo",
        "parameters": [
          {
            "name": "bizNo",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCommonResponseBizValidationDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/contract/log": {
      "get": {
        "tags": ["Contract"],
        "summary": "계약정보 로그 목록 조회",
        "description": "계약정보 로그 목록 조회 및 총 건수 조회",
        "operationId": "getContractLogList",
        "parameters": [
          {
            "name": "request",
            "in": "query",
            "required": true,
            "schema": { "$ref": "#/components/schemas/ContractLogRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCommonResponseContractLogListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/contract/list": {
      "get": {
        "tags": ["Contract"],
        "summary": "계약정보 목록 조회",
        "description": "계약정보 목록 조회 및 총 건수 조회",
        "operationId": "getContractList",
        "parameters": [
          {
            "name": "request",
            "in": "query",
            "required": true,
            "schema": { "$ref": "#/components/schemas/ContractListRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCommonResponseContractListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/contract/excel": {
      "get": {
        "tags": ["Contract"],
        "summary": "엑셀 다운로드",
        "description": "엑셀 다운로드",
        "operationId": "downloadExcel",
        "parameters": [
          {
            "name": "request",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ContractListExcelRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCommonResponseListContractListExcelResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/contract/download/{contractCd}": {
      "get": {
        "tags": ["Contract"],
        "summary": "사업자등록증 다운로드",
        "description": "사업자등록증 다운로드",
        "operationId": "downloadAttachment",
        "parameters": [
          {
            "name": "contractCd",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/api/v1/contract/categories": {
      "get": {
        "tags": ["Contract"],
        "summary": "계약정보 업종별 카테고리 조회",
        "description": "계약정보 업종별 카테고리 조회",
        "operationId": "getIndustryCategoryList",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCommonResponseListIndustryCategoryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/contract/biz/{bizNo}": {
      "get": {
        "tags": ["Contract"],
        "summary": "사업자 정보 상세조회",
        "description": "사업자번호 유효성 검증 완료 후 사업자 정보 상세조회",
        "operationId": "getBizDetailByBizNo",
        "parameters": [
          {
            "name": "bizNo",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCommonResponseBizDetailResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/code/{comTypCd}": {
      "get": {
        "tags": ["Code"],
        "summary": "코드 목록 조회",
        "description": "코드 목록 조회 (회원 구분: PRO005 / 사업자 구분: PRO006 / 계약상태: PRO007 / 계정구분: PRO008 / 계정상태: PRO009 / 다운로드 권한: PRO010",
        "operationId": "getContract",
        "parameters": [
          {
            "name": "comTypCd",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCommonResponseListCommonCodeDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/board/list": {
      "get": {
        "tags": ["Board"],
        "summary": "공지사항 목록 조회",
        "description": "공지사항 목록 조회 및 총 건수 조회",
        "operationId": "getBoardList",
        "parameters": [
          {
            "name": "request",
            "in": "query",
            "required": true,
            "schema": { "$ref": "#/components/schemas/BoardListRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCommonResponseBoardListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/board/download/{attachNo}": {
      "get": {
        "tags": ["Board"],
        "summary": "첨부파일 다운로드",
        "description": "첨부파일 다운로드",
        "operationId": "downloadAttachment_1",
        "parameters": [
          {
            "name": "attachNo",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCommonResponseMapStringObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/authorization/{authCd}": {
      "get": {
        "tags": ["Authorization"],
        "summary": "권한 상세 조회",
        "description": "권한에 따른 메뉴 상세 조회",
        "operationId": "getAuthDetail",
        "parameters": [
          {
            "name": "authCd",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCommonResponseListAuthorizationDetailResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/authorization/{authCd}/users/count": {
      "get": {
        "tags": ["Authorization"],
        "summary": "권한에 대한 사용자 수 조회",
        "description": "권한에 대한 사용자 수 조회",
        "operationId": "getCntUsersByAuthCd",
        "parameters": [
          {
            "name": "authCd",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCommonResponseLong"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/authorization/menulist": {
      "get": {
        "tags": ["Authorization"],
        "summary": "메뉴 목록 조회",
        "description": "메뉴 목록 조회",
        "operationId": "getMenuList",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCommonResponseListMenuDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/authorization/list": {
      "get": {
        "tags": ["Authorization"],
        "summary": "권한 목록 조회",
        "description": "권한 목록 조회 및 총 건수 조회",
        "operationId": "getAdminList",
        "parameters": [
          {
            "name": "request",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/AuthorizationListRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCommonResponseAuthorizationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/advertise/list": {
      "get": {
        "tags": ["Advertise"],
        "summary": "광고 목록 조회",
        "description": "광고 목록 조회 및 총 건수 조회",
        "operationId": "getAdvertiseList",
        "parameters": [
          {
            "name": "request",
            "in": "query",
            "required": true,
            "schema": { "$ref": "#/components/schemas/AdvertiseListRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCommonResponseAdvertiseListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/advertise/fileView/{advtNo}": {
      "get": {
        "tags": ["Advertise"],
        "summary": "광고 첨부파일 미리보기",
        "description": "광고 첨부파일 미리보기",
        "operationId": "imageView",
        "parameters": [
          {
            "name": "advtNo",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCommonResponseMapStringObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/advertise/download/{advtNo}": {
      "get": {
        "tags": ["Advertise"],
        "summary": "첨부파일 다운로드",
        "description": "첨부파일 다운로드",
        "operationId": "downloadAttachment_2",
        "parameters": [
          {
            "name": "advtNo",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCommonResponseMapStringObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/advertise/active/{comCd}": {
      "get": {
        "tags": ["Advertise"],
        "summary": "현재 노출중인 광고 목록 조회",
        "description": "현재 노출중인 광고 목록 조회",
        "operationId": "getActiveAdvertiseList",
        "parameters": [
          {
            "name": "comCd",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCommonResponseListActiveAdvertiseListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/{adminCd}": {
      "get": {
        "tags": ["Admin"],
        "summary": "관리자 계정 상세조회",
        "description": "관리자 계정 상세조회",
        "operationId": "getAdminDetail",
        "parameters": [
          {
            "name": "adminCd",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCommonResponseAdminDetailResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/log": {
      "get": {
        "tags": ["Admin"],
        "summary": "관리자 계정 업데이트 이력 조회",
        "description": "관리자 계정 업데이트 이력 조회",
        "operationId": "getAdminUpdateLogList_1",
        "parameters": [
          {
            "name": "request",
            "in": "query",
            "required": true,
            "schema": { "$ref": "#/components/schemas/AdminLogRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCommonResponseAdminUpdateLogListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/list": {
      "get": {
        "tags": ["Admin"],
        "summary": "관리자 계정 목록 조회",
        "description": "관리자 계정 목록 조회 및 총 건수 조회",
        "operationId": "getAdminList_1",
        "parameters": [
          {
            "name": "request",
            "in": "query",
            "required": true,
            "schema": { "$ref": "#/components/schemas/AdminListRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCommonResponseAdminListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/duplicate-id/{id}": {
      "get": {
        "tags": ["Admin"],
        "summary": "아이디 중복 체크",
        "description": "아이디 중복 체크",
        "operationId": "checkDuplicateId_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCommonResponseBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/user/delete-ip": {
      "delete": {
        "tags": ["User"],
        "summary": "회원 IP 삭제",
        "description": "회원 IP 삭제",
        "operationId": "deleteUserIPList",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UserIPDeleteRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCommonResponseMapStringObject"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ApiCommonResponseVoid": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "code": { "type": "integer", "format": "int32" },
          "message": { "type": "string" },
          "data": { "type": "object" }
        }
      },
      "ContractUpdateRequest": {
        "type": "object",
        "properties": {
          "recentContractDt": {
            "type": "string",
            "description": "최근 계약 일자",
            "example": "2025-08-05"
          },
          "contractStatusComCd": {
            "type": "string",
            "description": "계약 상태 코드",
            "example": "001"
          },
          "userComCd": {
            "type": "string",
            "description": "회원 구분 코드",
            "example": "001"
          },
          "bizNo": {
            "type": "string",
            "description": "사업자 등록번호",
            "example": "1234567891"
          },
          "bizComCd": {
            "type": "string",
            "description": "사업자 코드",
            "example": "001"
          },
          "contractName": {
            "type": "string",
            "description": "회원명",
            "example": "테스트 회사 1 재수정"
          },
          "industryCd": {
            "type": "integer",
            "description": "업종 코드",
            "format": "int32",
            "example": 1
          },
          "contractCd": {
            "type": "string",
            "description": "계약코드",
            "example": "20250805-C-0001"
          },
          "updateReason": {
            "type": "string",
            "description": "업데이트 사유",
            "example": "사업자명 수정"
          }
        },
        "description": "계약 수정 JSON"
      },
      "BoardAttMapRequest": {
        "type": "object",
        "properties": {
          "attachNo": {
            "type": "integer",
            "description": "첨부파일 고유번호",
            "format": "int64"
          }
        },
        "description": "첨부파일 매핑 Request"
      },
      "BoardUpdateRequest": {
        "type": "object",
        "properties": {
          "comCd": {
            "type": "string",
            "description": "코드",
            "example": "001"
          },
          "postNo": {
            "type": "integer",
            "description": "게시글 고유번호",
            "format": "int64"
          },
          "postTitle": { "type": "string", "description": "게시글 제목" },
          "postContent": { "type": "string", "description": "게시글 내용" },
          "reservePostDtm": {
            "type": "string",
            "description": "게시글 예약 게시일시"
          },
          "boardAttList": {
            "type": "array",
            "description": "게시글 첨부파일 리스트",
            "items": { "$ref": "#/components/schemas/BoardAttMapRequest" }
          }
        },
        "description": "공지사항 수정 Request"
      },
      "ApiCommonResponseBoardCreateResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "code": { "type": "integer", "format": "int32" },
          "message": { "type": "string" },
          "data": { "$ref": "#/components/schemas/BoardCreateResponse" }
        }
      },
      "BoardCreateResponse": {
        "type": "object",
        "properties": {
          "postNo": {
            "type": "integer",
            "description": "게시글 고유번호",
            "format": "int64"
          }
        },
        "description": "공지사항 등록 Response"
      },
      "AdvertiseUpdateRequest": {
        "type": "object",
        "properties": {
          "comCd": {
            "type": "string",
            "description": "코드",
            "example": "001"
          },
          "advtNo": {
            "type": "integer",
            "description": "광고 고유번호",
            "format": "int64",
            "example": 100
          },
          "advtNm": {
            "type": "string",
            "description": "광고명",
            "example": "랩스5.0 출시 기본 광고 이미지"
          },
          "imgOrgName": {
            "type": "string",
            "description": "원본 파일명",
            "example": "랩스 배너광고1.PNG"
          },
          "imgFileName": {
            "type": "string",
            "description": "서버저장 파일명",
            "example": "ADVT_17496073005150"
          },
          "fileSize": {
            "type": "integer",
            "description": "파일 사이즈",
            "format": "int64",
            "example": 113761
          },
          "advtLink": {
            "type": "string",
            "description": "광고 URL",
            "example": "https://naver.com"
          },
          "newWinYn": {
            "type": "string",
            "description": "새창 여부",
            "example": "Y"
          },
          "advtYn": {
            "type": "string",
            "description": "광고 여부",
            "example": "Y"
          },
          "srvStGb": {
            "type": "string",
            "description": "광고 상태 구분 R(대기), Y(노출중), N(기간만료), P(중지), D(삭제)",
            "example": "Y"
          },
          "advtStartDt": {
            "type": "string",
            "description": "광고 시작 일자",
            "example": "1900-01-01"
          },
          "advtEndDt": {
            "type": "string",
            "description": "광고 종료 일자",
            "example": "9999-12-31"
          }
        },
        "description": "광고 수정 Request"
      },
      "AdvertiseCreateResponse": {
        "type": "object",
        "properties": {
          "advtNo": {
            "type": "integer",
            "description": "광고 고유번호",
            "format": "int64"
          }
        },
        "description": "광고 등록 Response"
      },
      "ApiCommonResponseAdvertiseCreateResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "code": { "type": "integer", "format": "int32" },
          "message": { "type": "string" },
          "data": { "$ref": "#/components/schemas/AdvertiseCreateResponse" }
        }
      },
      "AdminPasswordChangeRequest": {
        "type": "object",
        "properties": {
          "adminCd": {
            "type": "integer",
            "description": "관리자 고유번호",
            "format": "int64"
          },
          "currentPassword": {
            "type": "string",
            "description": "현재 비밀번호"
          },
          "newPassword": { "type": "string", "description": "변경할 비밀번호" }
        }
      },
      "UserCreateRequest": {
        "type": "object",
        "properties": {
          "authComCd": {
            "type": "string",
            "description": "계정 구분 코드 DETAIL (001 - 회원, 002 - 테스트(시연), 003 - 테스트(검수))"
          },
          "contractCd": { "type": "string", "description": "계약 코드" },
          "serviceStartDt": {
            "type": "string",
            "description": "서비스 사용 시작일자"
          },
          "serviceEndDt": {
            "type": "string",
            "description": "서비스 사용 종료일자"
          },
          "userId": { "type": "string", "description": "아이디" },
          "name": { "type": "string", "description": "이름" },
          "email": { "type": "string", "description": "이메일 주소" },
          "mobileNo": { "type": "string", "description": "휴대폰 번호" },
          "authCd": {
            "type": "integer",
            "description": "권한 키 코드",
            "format": "int64"
          },
          "authStatusComCd": {
            "type": "string",
            "description": "계정 상태 코드 DETAIL (001- 사용대기, 002 - 사용중, 003- 사용만료, 004 - 계정정지, 005 - 삭제)"
          },
          "ipCnt": {
            "type": "integer",
            "description": "IP 등록 최대 건수",
            "format": "int64"
          }
        },
        "description": "회원 등록 Request"
      },
      "ContractCreateRequest": {
        "type": "object",
        "properties": {
          "industryCd": {
            "type": "integer",
            "description": "업종 코드",
            "format": "int32",
            "example": 1
          },
          "userComTypCd": {
            "type": "string",
            "description": "회원 구분 코드 MAIN (PRO005)",
            "example": "PRO005"
          },
          "userComCd": {
            "type": "string",
            "description": "회원 구분 코드 DETAIL (001 - 사업자, 002 - 개인)",
            "example": "001"
          },
          "bizComTypCd": {
            "type": "string",
            "description": "사업자 구분 코드 MAIN (PRO006)",
            "example": "PRO006"
          },
          "bizComCd": {
            "type": "string",
            "description": "사업자 구분 코드 DETAIL (001 - 법인, 002 - 개인)",
            "example": "001"
          },
          "bizNo": {
            "type": "string",
            "description": "사업자 등록번호",
            "example": "9876543218"
          },
          "contractName": {
            "type": "string",
            "description": "계약자명",
            "example": "계약자 테스트"
          },
          "contractStatusComTypCd": {
            "type": "string",
            "description": "계약상태 코드 MAIN",
            "example": "PRO007"
          },
          "contractStatusComCd": {
            "type": "string",
            "description": "계약상태 코드 DETAIL",
            "example": "001"
          },
          "recentContractDt": {
            "type": "string",
            "description": "최근 계약 일자",
            "example": "20250801"
          }
        },
        "description": "계약 등록 JSON"
      },
      "ApiCommonResponseCreateContractResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "code": { "type": "integer", "format": "int32" },
          "message": { "type": "string" },
          "data": { "$ref": "#/components/schemas/CreateContractResponse" }
        }
      },
      "CreateContractResponse": {
        "type": "object",
        "properties": {
          "contractCd": { "type": "string", "description": "계약 코드" }
        },
        "description": "계약 생성 Response"
      },
      "ApiCommonResponseListBoardAttResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "code": { "type": "integer", "format": "int32" },
          "message": { "type": "string" },
          "data": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/BoardAttResponse" }
          }
        }
      },
      "BoardAttResponse": {
        "type": "object",
        "properties": {
          "attachNo": {
            "type": "integer",
            "description": "첨부파일 고유번호",
            "format": "int64"
          },
          "attachFileName": {
            "type": "string",
            "description": "서버저장 파일명"
          },
          "attachOrgName": { "type": "string", "description": "파일명" }
        },
        "description": "첨부파일 등록 Response"
      },
      "BoardCreateRequest": {
        "type": "object",
        "properties": {
          "comCd": {
            "type": "string",
            "description": "코드",
            "example": "001"
          },
          "postTitle": { "type": "string", "description": "게시글 제목" },
          "postContent": { "type": "string", "description": "게시글 내용" },
          "reservePostDtm": {
            "type": "string",
            "description": "게시글 예약 게시일시"
          },
          "boardAttList": {
            "type": "array",
            "description": "게시글 첨부파일 리스트",
            "items": { "$ref": "#/components/schemas/BoardAttMapRequest" }
          }
        },
        "description": "공지사항 등록 Request"
      },
      "AuthorizationCreateRequest": {
        "type": "object",
        "properties": {
          "authName": { "type": "string", "description": "권한 그룹명" },
          "menuListRequests": {
            "type": "array",
            "description": "메뉴 리스트",
            "items": { "$ref": "#/components/schemas/MenuListRequest" }
          }
        },
        "description": "권한 등록 Request"
      },
      "MenuListRequest": {
        "type": "object",
        "properties": {
          "menuId": { "type": "string", "description": "메뉴 코드" },
          "menuAccessYn": {
            "type": "string",
            "description": "메뉴별 접근 권한 여부"
          },
          "dataAuthComCd": {
            "type": "string",
            "description": "데이터 복사/엑셀저장 권한 코드 DETAIL (ALL - 전체 정보 다운로드, PART - 일부 정보 다운로드, NO - 다운로드 불가)"
          }
        },
        "description": "메뉴 리스트 조회 Request"
      },
      "ApiCommonResponseLoginResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "code": { "type": "integer", "format": "int32" },
          "message": { "type": "string" },
          "data": { "$ref": "#/components/schemas/LoginResponse" }
        }
      },
      "LoginResponse": {
        "type": "object",
        "properties": {
          "adminCd": {
            "type": "integer",
            "description": "관리자 고유 번호",
            "format": "int64"
          },
          "id": { "type": "string", "description": "관리자 아이디" },
          "name": { "type": "string", "description": "이름" },
          "email": { "type": "string", "description": "이메일" },
          "statusComTypCd": {
            "type": "string",
            "description": "상태 공통유형코드"
          },
          "statusComCd": {
            "type": "string",
            "description": "상태 공통상세코드 001(신청), 002(사용 중), 003(삭제)"
          },
          "authComTypCd": {
            "type": "string",
            "description": "관리자권한 공통유형코드"
          },
          "authComCd": {
            "type": "string",
            "description": "관리자권한 공통상세코드 001(최고), 002(상급), 003(하급)"
          },
          "ipAddr": { "type": "string", "description": "IP 주소" },
          "accessToken": {
            "type": "string",
            "description": "Access Token (JWT)"
          },
          "expiresIn": {
            "type": "integer",
            "description": "Access Token 만료 시간 (밀리초)",
            "format": "int64"
          }
        },
        "description": "관리자 로그인 Response"
      },
      "LoginRequest": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "description": "관리자 아이디" },
          "password": { "type": "string", "description": "관리자 비밀번호" }
        },
        "description": "관리자 로그인 Request"
      },
      "AdvertiseFileResponse": {
        "type": "object",
        "properties": {
          "imgFileName": { "type": "string", "description": "서버저장 파일명" },
          "imgOrgName": { "type": "string", "description": "파일명" },
          "fileSize": {
            "type": "integer",
            "description": "파일크기",
            "format": "int64"
          }
        },
        "description": "첨부파일 등록 Response"
      },
      "ApiCommonResponseAdvertiseFileResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "code": { "type": "integer", "format": "int32" },
          "message": { "type": "string" },
          "data": { "$ref": "#/components/schemas/AdvertiseFileResponse" }
        }
      },
      "AdvertiseCreateRequest": {
        "type": "object",
        "properties": {
          "comCd": {
            "type": "string",
            "description": "코드",
            "example": "001"
          },
          "advtStartDt": {
            "type": "string",
            "description": "광고 시작 일자",
            "example": "1900-01-01"
          },
          "advtEndDt": {
            "type": "string",
            "description": "광고 종료 일자",
            "example": "9999-12-31"
          },
          "advtNm": {
            "type": "string",
            "description": "광고명",
            "example": "랩스5.0 출시 기본 광고 이미지"
          },
          "imgOrgName": {
            "type": "string",
            "description": "원본 파일명",
            "example": "랩스 배너광고1.PNG"
          },
          "imgFileName": {
            "type": "string",
            "description": "서버저장 파일명",
            "example": "ADVT_17496073005150"
          },
          "fileSize": {
            "type": "integer",
            "description": "파일 사이즈",
            "format": "int64",
            "example": 113761
          },
          "advtLink": {
            "type": "string",
            "description": "광고 URL",
            "example": "https://naver.com"
          },
          "newWinYn": {
            "type": "string",
            "description": "새창 여부",
            "example": "Y"
          },
          "advtYn": {
            "type": "string",
            "description": "광고 여부",
            "example": "Y"
          },
          "srvStGb": {
            "type": "string",
            "description": "광고 상태 구분 R(대기), Y(노출중), N(기간만료), P(중지), D(삭제)",
            "example": "Y"
          },
          "dispOrdNo": {
            "type": "integer",
            "description": "광고 순서",
            "format": "int32",
            "default": 1
          }
        },
        "description": "광고 등록 Request"
      },
      "AdminCreateRequest": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "description": "관리자 아이디" },
          "name": { "type": "string", "description": "이름" },
          "employeeId": {
            "type": "integer",
            "description": "사번",
            "format": "int64"
          },
          "deptName": { "type": "string", "description": "소속팀/부서" },
          "email": { "type": "string", "description": "이메일" }
        },
        "description": "관리자 계정 등록 Request"
      },
      "UserUpdateRequest": {
        "type": "object",
        "properties": {
          "authStatusComCd": {
            "type": "string",
            "description": "계정 상태 코드 DETAIL"
          },
          "authComCd": {
            "type": "string",
            "description": "계정 구분 코드 DETAIL (001 - 회원, 002 - 테스트(시연), 003 - 테스트(검수))"
          },
          "name": { "type": "string", "description": "이름" },
          "serviceStartDt": {
            "type": "string",
            "description": "서비스 사용 시작일자"
          },
          "serviceEndDt": {
            "type": "string",
            "description": "서비스 사용 종료일자"
          },
          "email": { "type": "string", "description": "이메일 주소" },
          "mobileNo": { "type": "string", "description": "휴대폰 번호" },
          "ipCnt": {
            "type": "integer",
            "description": "IP 등록 최대 건수",
            "format": "int64"
          },
          "authCd": {
            "type": "integer",
            "description": "권한 키 코드",
            "format": "int64"
          },
          "userCd": {
            "type": "integer",
            "description": "회원 키 코드",
            "format": "int64"
          },
          "updateReason": { "type": "string", "description": "업데이트 사유" }
        },
        "description": "회원 정보 업데이트 Request"
      },
      "AuthorizationUpdateRequest": {
        "type": "object",
        "properties": {
          "authCd": {
            "type": "integer",
            "description": "권한 코드",
            "format": "int64"
          },
          "authName": { "type": "string", "description": "권한명" },
          "menuIdList": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/MenuListRequest" }
          }
        },
        "description": "권한 수정 Request"
      },
      "AdvertiseOrderChangeRequest": {
        "type": "object",
        "properties": {
          "advtNo": {
            "type": "integer",
            "description": "광고 고유번호",
            "format": "int64"
          },
          "targetAdvtNo": {
            "type": "integer",
            "description": "순서변경할 광고 고유번호",
            "format": "int64"
          }
        },
        "description": "광고 순서 변경 Request"
      },
      "ApiCommonResponseMapStringObject": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "code": { "type": "integer", "format": "int32" },
          "message": { "type": "string" },
          "data": {
            "type": "object",
            "additionalProperties": { "type": "object" }
          }
        }
      },
      "AdminUpdateRequest": {
        "type": "object",
        "properties": {
          "adminCd": {
            "type": "integer",
            "description": "관리자 고유번호",
            "format": "int64"
          },
          "statusComCd": {
            "type": "string",
            "description": "관리자 상태 공통상세코드"
          },
          "authComCd": {
            "type": "string",
            "description": "관리자 권한 공통상세코드"
          },
          "updateReason": { "type": "string", "description": "업데이트 사유" }
        },
        "description": "관리자 계정 업데이트 Request"
      },
      "AdminAuthUpdateRequest": {
        "type": "object",
        "properties": {
          "adminCd": {
            "type": "integer",
            "description": "관리자 고유번호",
            "format": "int64"
          },
          "authComCd": {
            "type": "string",
            "description": "관리자 권한 공통상세코드"
          },
          "updateReason": { "type": "string", "description": "업데이트 사유" }
        },
        "description": "관리자 계정 권한 변경 Request"
      },
      "AdminUpdateAuthResponse": {
        "type": "object",
        "properties": { "id": { "type": "string" } },
        "description": "관리자 계정 권한 변경 Response"
      },
      "ApiCommonResponseAdminUpdateAuthResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "code": { "type": "integer", "format": "int32" },
          "message": { "type": "string" },
          "data": { "$ref": "#/components/schemas/AdminUpdateAuthResponse" }
        }
      },
      "ApproveAdminRequest": {
        "type": "object",
        "properties": {
          "adminCds": {
            "type": "array",
            "description": "관리자 고유번호",
            "items": {
              "type": "integer",
              "description": "관리자 고유번호",
              "format": "int64"
            }
          },
          "updateReason": { "type": "string", "description": "업데이트 사유" }
        },
        "description": "관리자 계정 승인 Request"
      },
      "ApiCommonResponseUserDetailResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "code": { "type": "integer", "format": "int32" },
          "message": { "type": "string" },
          "data": { "$ref": "#/components/schemas/UserDetailResponse" }
        }
      },
      "UserDetailResponse": {
        "type": "object",
        "properties": {
          "userCd": {
            "type": "integer",
            "description": "사용자 코드",
            "format": "int64"
          },
          "authComTypCd": {
            "type": "string",
            "description": "계정 구분 코드 MAIN (PRO007)"
          },
          "authComCd": {
            "type": "string",
            "description": "계정 구분 코드 DETAIL (001 - 회원, 002 - 테스트(시연), 003 - 테스트(검수))"
          },
          "authComNm": { "type": "string", "description": "계정 구분 코드명" },
          "authStatusComTypCd": {
            "type": "string",
            "description": "계정 상태 코드 MAIN (PRO009)"
          },
          "authStatusComCd": {
            "type": "string",
            "description": "계정 상태 코드 DETAIL"
          },
          "authStatusComNm": { "type": "string", "description": "계정 상태명" },
          "contractCd": { "type": "string", "description": "계약 코드" },
          "contractStatusComTypCd": {
            "type": "string",
            "description": "계약 상태 코드 MAIN"
          },
          "contractStatusComCd": {
            "type": "string",
            "description": "계약 상태 코드 DETAIL"
          },
          "contractStatusComNm": {
            "type": "string",
            "description": "계약 상태명"
          },
          "recentContractDt": {
            "type": "string",
            "description": "최신 계약일자"
          },
          "contractName": { "type": "string", "description": "계약명" },
          "name": { "type": "string", "description": "사용자 이름" },
          "serviceStartDt": {
            "type": "string",
            "description": "서비스 시작일"
          },
          "serviceEndDt": { "type": "string", "description": "서비스 종료일" },
          "userId": { "type": "string", "description": "사용자 아이디" },
          "email": { "type": "string", "description": "이메일" },
          "mobileNo": { "type": "string", "description": "휴대폰 번호" },
          "ipAddrRegCnt": {
            "type": "integer",
            "description": "IP 등록 건수",
            "format": "int64"
          },
          "ipCnt": {
            "type": "integer",
            "description": "IP 등록 최대 건수",
            "format": "int64"
          },
          "authCd": {
            "type": "integer",
            "description": "권한 코드",
            "format": "int64"
          },
          "authName": { "type": "string", "description": "권한명" },
          "ipAddrList": {
            "type": "array",
            "description": "ip 등록 리스트",
            "items": { "type": "string", "description": "ip 등록 리스트" }
          }
        },
        "description": "사용자 계정 상세조회 Response"
      },
      "UserLogRequest": {
        "type": "object",
        "properties": {
          "userCd": {
            "type": "string",
            "description": "회원 코드",
            "example": "4"
          },
          "pageSize": {
            "type": "integer",
            "description": "페이징 사이즈",
            "format": "int32",
            "example": 10
          },
          "pageIndex": {
            "type": "integer",
            "description": "현재 페이지",
            "format": "int32",
            "example": 1
          }
        },
        "description": "회원 로그 조회 Request"
      },
      "ApiCommonResponseUserLogResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "code": { "type": "integer", "format": "int32" },
          "message": { "type": "string" },
          "data": { "$ref": "#/components/schemas/UserLogResponse" }
        }
      },
      "UserLogDto": {
        "type": "object",
        "properties": {
          "logCd": {
            "type": "integer",
            "description": "로그 코드",
            "format": "int32"
          },
          "userCd": {
            "type": "integer",
            "description": "회원 키 코드",
            "format": "int32"
          },
          "updateField": { "type": "string", "description": "업데이트 항목" },
          "updateReason": { "type": "string", "description": "업데이트 사유" },
          "regId": { "type": "string", "description": "등록자 아이디" },
          "regCd": { "type": "string", "description": "등록자 코드" },
          "regNm": { "type": "string", "description": "등록자 이름" },
          "regDtm": { "type": "string", "description": "등록일시" }
        }
      },
      "UserLogResponse": {
        "type": "object",
        "properties": {
          "totalCount": { "type": "integer", "format": "int64" },
          "item": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/UserLogDto" }
          }
        },
        "description": "회원 Log 목록 조회 Response"
      },
      "UserListRequest": {
        "type": "object",
        "properties": {
          "searchStartDt": {
            "type": "string",
            "description": "검색기간 시작일",
            "example": "20250101"
          },
          "searchEndDt": {
            "type": "string",
            "description": "검색기간 종료일",
            "example": "20261231"
          },
          "authComCd": {
            "type": "string",
            "description": "계정 구분 코드 DETAIL (001 - 회원, 002 - 테스트(시연), 003 - 테스트(검수))",
            "example": "001"
          },
          "authStatusComCd": {
            "type": "string",
            "description": "계정 상태 코드 DETAIL",
            "example": "002"
          },
          "authCd": {
            "type": "integer",
            "description": "권한 키 코드",
            "format": "int32",
            "example": 1
          },
          "searchKeyword": {
            "type": "string",
            "description": "사용자 목록조회 검색 조건(아이디 / 이름)",
            "example": "webmaster"
          },
          "searchType": {
            "type": "string",
            "description": "검색 타입 (all: 전체, userId: 아이디, name: 이름)",
            "example": "all"
          },
          "searchDtType": {
            "type": "string",
            "description": "검색 일자 타입 (service: 서비스일 사용기간 일자, update: 최근 업데이트 일자)",
            "example": "update"
          },
          "orderBy": {
            "type": "string",
            "description": "정렬 구분 [계정구분: authComNm, 계약코드: contractCd, 서비스 사용 기간: serviceDt, 회원 명: name, 회원 상태: authStatusComNm, 권한 그룹: authName]",
            "example": "authComCd"
          },
          "order": {
            "type": "string",
            "description": "정렬 (오름차순 ASC, 내림차순 DESC)",
            "example": "DESC"
          },
          "defaultOrder": {
            "type": "string",
            "description": "기본 정렬(최근 업데이트 일자)",
            "example": "DESC"
          },
          "pageSize": {
            "type": "integer",
            "description": "페이징 사이즈",
            "format": "int32",
            "example": 30
          },
          "pageIndex": {
            "type": "integer",
            "description": "현재 페이지",
            "format": "int32",
            "example": 1
          }
        },
        "description": "사용자 목록 조회 Request"
      },
      "ApiCommonResponseUserListResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "code": { "type": "integer", "format": "int32" },
          "message": { "type": "string" },
          "data": { "$ref": "#/components/schemas/UserListResponse" }
        }
      },
      "UserDto": {
        "type": "object",
        "properties": {
          "authComTypCd": {
            "type": "string",
            "description": "계정 구분 코드 MAIN (PRO007)"
          },
          "authComCd": {
            "type": "string",
            "description": "계정 구분 코드 DETAIL (001 - 회원, 002 - 테스트(시연), 003 - 테스트(검수))"
          },
          "authComNm": { "type": "string", "description": "계정 구분 코드명" },
          "contractCd": { "type": "string", "description": "계약 코드" },
          "serviceStartDt": {
            "type": "string",
            "description": "서비스 사용 시작일자"
          },
          "serviceEndDt": {
            "type": "string",
            "description": "서비스 사용 종료일자"
          },
          "userId": { "type": "string", "description": "아이디" },
          "password": { "type": "string", "description": "비밀번호" },
          "name": { "type": "string", "description": "이름" },
          "email": { "type": "string", "description": "이메일 주소" },
          "mobileNo": { "type": "string", "description": "휴대폰 번호" },
          "authCd": {
            "type": "integer",
            "description": "권한 키 코드",
            "format": "int64"
          },
          "authName": { "type": "string", "description": "권한명" },
          "authStatusComTypCd": {
            "type": "string",
            "description": "계정 상태 코드 MAIN (PRO009)"
          },
          "authStatusComCd": {
            "type": "string",
            "description": "계정 상태 코드 DETAIL"
          },
          "authStatusComNm": {
            "type": "string",
            "description": "계정 상태 코드명"
          },
          "lastPasswordChangeDtm": {
            "type": "string",
            "description": "비밀번호 마지막 변경일시"
          },
          "lastLoginDtm": {
            "type": "string",
            "description": "로그인 마지막 일시"
          },
          "ipCnt": {
            "type": "integer",
            "description": "IP 등록 최대 건수",
            "format": "int64"
          },
          "ipAddrRegCnt": {
            "type": "integer",
            "description": "IP 등록 건수",
            "format": "int64"
          },
          "regId": { "type": "string", "description": "등록자" },
          "regDtm": { "type": "string", "description": "등록일시" },
          "modId": { "type": "string", "description": "수정자" },
          "modDtm": { "type": "string", "description": "수정일시" },
          "updateDtm": {
            "type": "string",
            "description": "등록일시 및 수정일시"
          },
          "loginCnt": {
            "type": "integer",
            "description": "로그인 횟수",
            "format": "int64"
          },
          "recentContractDt": { "type": "string", "description": "계약일자" },
          "contractStatusComTypCd": {
            "type": "string",
            "description": "계약 상태 코드 MAIN"
          },
          "contractStatusComCd": {
            "type": "string",
            "description": "계약 상태 코드 DETAIL"
          },
          "contractStatusComNm": {
            "type": "string",
            "description": "계약상태명"
          },
          "accessCnt": {
            "type": "integer",
            "description": "접속횟수",
            "format": "int64"
          },
          "contractName": { "type": "string", "description": "계약명" },
          "ipAddrList": {
            "type": "array",
            "description": "IP 리스트",
            "items": { "type": "string", "description": "IP 리스트" }
          }
        }
      },
      "UserListResponse": {
        "type": "object",
        "properties": {
          "totalCount": { "type": "integer", "format": "int64" },
          "item": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/UserDto" }
          }
        },
        "description": "회원 IP 목록 조회 Response"
      },
      "UserIPListRequest": {
        "type": "object",
        "properties": {
          "authComCd": {
            "type": "string",
            "description": "계정 구분 코드(001 - 회원, 002 - 테스트(시연), 003  - 테스트(검수), 004 - 관리자)",
            "example": "001"
          },
          "authStatusComCd": {
            "type": "string",
            "description": "계정 상태 코드(001 - 사용대기, 002 - 사용중, 003 - 사용만료, 004 - 계정정지, 005 - 삭제)",
            "example": "002"
          },
          "searchStartRegDtm": {
            "type": "string",
            "description": "IP 목록 검색조건(등록일자 시작일)",
            "example": "20250101"
          },
          "searchEndRegDtm": {
            "type": "string",
            "description": "IP 목록 검색조건(등록일자 종료일)",
            "example": "20251231"
          },
          "searchKeyword": {
            "type": "string",
            "description": "IP 목록 검색조건(회원명 / 아이디 / 접속지역 / IP)",
            "example": "webmaster"
          },
          "searchType": {
            "type": "string",
            "description": "검색 타입 (all: 전체, name: 회원명, userId: 회원 아이디, accArea: 접속지역, ipAddr: IP 주소)",
            "example": "all"
          },
          "orderBy": {
            "type": "string",
            "description": "정렬 구분 [계정구분: authComNm, 회원 상태: authStatusComNm]",
            "example": "authComCd"
          },
          "order": {
            "type": "string",
            "description": "정렬 (오름차순 ASC, 내림차순 DESC)",
            "example": "DESC"
          },
          "defaultOrder": {
            "type": "string",
            "description": "기본 정렬(최근 업데이트 일자)",
            "example": "DESC"
          },
          "pageSize": {
            "type": "integer",
            "description": "페이징 사이즈",
            "format": "int32",
            "example": 30
          },
          "pageIndex": {
            "type": "integer",
            "description": "현재 페이지",
            "format": "int32",
            "example": 1
          },
          "pageOrder": {
            "type": "string",
            "description": "페이지 순서",
            "example": "DESC"
          }
        },
        "description": "회원 IP 목록 조회 Request"
      },
      "ApiCommonResponseUserIPLIstResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "code": { "type": "integer", "format": "int32" },
          "message": { "type": "string" },
          "data": { "$ref": "#/components/schemas/UserIPLIstResponse" }
        }
      },
      "UserIPDto": {
        "type": "object",
        "properties": {
          "cnfNo": {
            "type": "integer",
            "description": "IP 정보 키 코드",
            "format": "int64"
          },
          "userCd": {
            "type": "integer",
            "description": "회원 코드",
            "format": "int64"
          },
          "contractCd": { "type": "string", "description": "계약 코드" },
          "contractName": { "type": "string", "description": "계약명" },
          "userId": { "type": "string", "description": "사용자 아이디" },
          "name": { "type": "string", "description": "사용자 이름" },
          "authComCd": { "type": "string", "description": "계정 구분 코드" },
          "authComNm": { "type": "string", "description": "계정 구분 코드명" },
          "accArea": { "type": "string", "description": "접속 지역" },
          "ipAddr": { "type": "string", "description": "IP 주소" },
          "authStatusComCd": {
            "type": "string",
            "description": "권한 상태 코드"
          },
          "authStatusComNm": { "type": "string", "description": "권항 상태명" },
          "regDtm": { "type": "string", "description": "등록일시" }
        }
      },
      "UserIPLIstResponse": {
        "type": "object",
        "properties": {
          "totalCount": { "type": "integer", "format": "int64" },
          "item": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/UserIPDto" }
          }
        },
        "description": "회원 IP 목록 조회 Response"
      },
      "UserExcelListRequest": {
        "type": "object",
        "properties": {
          "searchStartDt": {
            "type": "string",
            "description": "검색기간 시작일",
            "example": "20250101"
          },
          "searchEndDt": {
            "type": "string",
            "description": "검색기간 종료일",
            "example": "20261231"
          },
          "authComCd": {
            "type": "string",
            "description": "계정 구분 코드 DETAIL (001 - 회원, 002 - 테스트(시연), 003 - 테스트(검수))",
            "example": "001"
          },
          "authStatusComCd": {
            "type": "string",
            "description": "계정 상태 코드 DETAIL",
            "example": "002"
          },
          "authCd": {
            "type": "integer",
            "description": "권한 키 코드",
            "format": "int32",
            "example": 1
          },
          "searchKeyword": {
            "type": "string",
            "description": "사용자 목록조회 검색 조건(아이디 / 이름)",
            "example": "webmaster"
          },
          "searchType": {
            "type": "string",
            "description": "검색 타입 (all: 전체, userId: 아이디, name: 이름)",
            "example": "all"
          },
          "searchDtType": {
            "type": "string",
            "description": "검색 일자 타입 (service: 서비스일 사용기간 일자, update: 최근 업데이트 일자)",
            "example": "update"
          }
        },
        "description": "사용자 목록 엑셀 조회 Request"
      },
      "ApiCommonResponseListUserListExcelResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "code": { "type": "integer", "format": "int32" },
          "message": { "type": "string" },
          "data": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/UserListExcelResponse" }
          }
        }
      },
      "UserListExcelResponse": {
        "type": "object",
        "properties": {
          "authStatusComNm": { "type": "string", "description": "사용여부" },
          "name": { "type": "string", "description": "이름" },
          "userId": { "type": "string", "description": "아이디" },
          "loginCnt": {
            "type": "integer",
            "description": "총 로그인 횟수",
            "format": "int64"
          },
          "lastLoginDtm": { "type": "string", "description": "최근 접속일" },
          "serviceStartDt": { "type": "string", "description": "계약 시작일" },
          "serviceEndDt": { "type": "string", "description": "계약 만료일" },
          "contractDt": { "type": "string", "description": "계약일" },
          "ipAddrRegCnt": {
            "type": "integer",
            "description": "IP 등록 건수",
            "format": "int64"
          },
          "ipCnt": {
            "type": "integer",
            "description": "IP 등록 최대 건수",
            "format": "int64"
          },
          "contractStatusComNm": {
            "type": "string",
            "description": "계약구분명"
          },
          "authCd": {
            "type": "integer",
            "description": "권한 키 코드",
            "format": "int64"
          },
          "authName": { "type": "string", "description": "권한 그룹명" },
          "accessCnt": {
            "type": "integer",
            "description": "총 접속 횟수",
            "format": "int64"
          },
          "contractCd": { "type": "string", "description": "계약 코드" }
        },
        "description": "사용자 목록 조회 Response (엑셀 다운로드)"
      },
      "ApiCommonResponseBoolean": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "code": { "type": "integer", "format": "int32" },
          "message": { "type": "string" },
          "data": { "type": "boolean" }
        }
      },
      "UserAccessInfoRequest": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string",
            "description": "사용자 아이디",
            "example": "webmaster"
          },
          "ipAddr": {
            "type": "string",
            "description": "IP 주소",
            "example": "127.0.0.1"
          },
          "searchStartDt": {
            "type": "string",
            "description": "검색기간 시작일"
          },
          "searchEndDt": { "type": "string", "description": "검색기간 종료일" },
          "pageSize": {
            "type": "integer",
            "description": "페이징 사이즈",
            "format": "int32",
            "example": 30
          },
          "pageIndex": {
            "type": "integer",
            "description": "현재 페이지",
            "format": "int32",
            "example": 1
          }
        },
        "description": "사용자 접속정보 조회 Request"
      },
      "ApiCommonResponseUserAccessInfoResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "code": { "type": "integer", "format": "int32" },
          "message": { "type": "string" },
          "data": { "$ref": "#/components/schemas/UserAccessInfoResponse" }
        }
      },
      "UserAccessInfoDto": {
        "type": "object",
        "properties": {
          "accessNo": {
            "type": "integer",
            "description": "접속정보 키 코드",
            "format": "int64"
          },
          "accessType": {
            "type": "string",
            "description": "로그인/로그아웃 구분"
          },
          "accessTypeNm": {
            "type": "string",
            "description": "로그인/로그아웃 구분명(한글)"
          },
          "ipAddr": { "type": "string", "description": "IP 주소" },
          "regId": { "type": "string", "description": "등록자" },
          "regMenuId": { "type": "string", "description": "등록 메뉴 아이디" },
          "regDtm": { "type": "string", "description": "등록일시" }
        }
      },
      "UserAccessInfoResponse": {
        "type": "object",
        "properties": {
          "totalCount": { "type": "integer", "format": "int64" },
          "item": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/UserAccessInfoDto" }
          }
        },
        "description": "사용자 접속정보 조회 Response"
      },
      "UserAccessHistoryRequest": {
        "type": "object",
        "properties": {
          "searchField": {
            "type": "string",
            "description": "조회 기준(date: 일자별 / menu: 메뉴별)",
            "example": "date"
          },
          "userId": {
            "type": "string",
            "description": "사용자 아이디",
            "example": "webmaster"
          },
          "searchStartDt": {
            "type": "string",
            "description": "검색기간 시작일"
          },
          "searchEndDt": { "type": "string", "description": "검색기간 종료일" },
          "pageSize": {
            "type": "integer",
            "description": "페이징 사이즈",
            "format": "int32",
            "example": 30
          },
          "pageIndex": {
            "type": "integer",
            "description": "현재 페이지",
            "format": "int32",
            "example": 1
          }
        },
        "description": "사용자 사용이력 조회 Request"
      },
      "ApiCommonResponseUserAccessHistoryResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "code": { "type": "integer", "format": "int32" },
          "message": { "type": "string" },
          "data": { "$ref": "#/components/schemas/UserAccessHistoryResponse" }
        }
      },
      "UserAccessHistoryDto": {
        "type": "object",
        "properties": {
          "pageOrderField": {
            "type": "string",
            "description": "조회 구분(LOG_DT: 일자별 / MENU_ID_SORT: 메뉴별)",
            "example": "LOG_DT"
          },
          "cnt": {
            "type": "integer",
            "description": "건수",
            "format": "int64"
          },
          "logDt": { "type": "string", "description": "접속일시" },
          "menuNmPath": { "type": "string", "description": "메뉴경로" },
          "menuId": { "type": "string", "description": "최종 메뉴 아이디" },
          "menuIdSort": {
            "type": "string",
            "description": "메뉴 경로별 아이디"
          }
        }
      },
      "UserAccessHistoryResponse": {
        "type": "object",
        "properties": {
          "totalCount": { "type": "integer", "format": "int64" },
          "item": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/UserAccessHistoryDto" }
          }
        },
        "description": "사용자 사용이력 조회 Response"
      },
      "ApiCommonResponseContractDetailResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "code": { "type": "integer", "format": "int32" },
          "message": { "type": "string" },
          "data": { "$ref": "#/components/schemas/ContractDetailResponse" }
        }
      },
      "ContractDetailResponse": {
        "type": "object",
        "properties": {
          "contractCd": { "type": "string", "description": "계약 코드" },
          "industryCd": {
            "type": "integer",
            "description": "업종 구분 코드",
            "format": "int32"
          },
          "industryTypCd1": {
            "type": "string",
            "description": "업종 대분류 코드"
          },
          "industryTypName1": {
            "type": "string",
            "description": "업종 대분류명"
          },
          "industryTypCd2": {
            "type": "string",
            "description": "업종 소분류 코드"
          },
          "industryTypName2": {
            "type": "string",
            "description": "업종 소분류명"
          },
          "userComTypCd": {
            "type": "string",
            "description": "회원 구분 코드 MAIN (PRO005)"
          },
          "userComCd": {
            "type": "string",
            "description": "회원 구분 코드 DETAIL (001 - 사업자, 002 - 개인)"
          },
          "userComNm": { "type": "string", "description": "회원구분명" },
          "bizComTypCd": {
            "type": "string",
            "description": "사업자 구분 코드 MAIN (PRO006)"
          },
          "bizComCd": {
            "type": "string",
            "description": "사업자 구분 코드 DETAIL (001 - 법인, 002 - 개인)"
          },
          "bizComNm": { "type": "string", "description": "사업자구분명" },
          "bizNo": { "type": "string", "description": "사업자 등록번호" },
          "contractStatusComTypCd": {
            "type": "string",
            "description": "계약상태 코드 MAIN (PRO007)"
          },
          "contractStatusComCd": {
            "type": "string",
            "description": "계약상태 코드 DETAIL (사업자 구분 001(신규계약), 002(재계약), 003(계약만료), 004(계약해지), 005(계약대기), 006(계약연장), 007(계약보류))"
          },
          "contractStatusComNm": {
            "type": "string",
            "description": "계약상태명"
          },
          "contractName": { "type": "string", "description": "회원명" },
          "recentContractDt": {
            "type": "string",
            "description": "최근 계약일자"
          },
          "attachOrgName": { "type": "string", "description": "파일명" },
          "attachPath": { "type": "string", "description": "파일경로" },
          "attachFileName": {
            "type": "string",
            "description": "서버저장 파일명"
          },
          "fileExt": { "type": "string", "description": "파일 확장자" },
          "fileSize": {
            "type": "integer",
            "description": "파일크기",
            "format": "int64"
          }
        },
        "description": "계약정보 상세 조회 Response"
      },
      "ApiCommonResponseBizValidationDto": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "code": { "type": "integer", "format": "int32" },
          "message": { "type": "string" },
          "data": { "$ref": "#/components/schemas/BizValidationDto" }
        }
      },
      "BizValidationDto": {
        "type": "object",
        "properties": { "message": { "type": "string" } }
      },
      "ContractLogRequest": {
        "type": "object",
        "properties": {
          "contractCd": {
            "type": "string",
            "description": "계약코드",
            "example": "20250805-C-0001"
          },
          "pageSize": {
            "type": "integer",
            "description": "페이징 사이즈",
            "format": "int32",
            "example": 10
          },
          "pageIndex": {
            "type": "integer",
            "description": "현재 페이지",
            "format": "int32",
            "example": 1
          }
        },
        "description": "계약 정보 로그 조회 Request"
      },
      "ApiCommonResponseContractLogListResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "code": { "type": "integer", "format": "int32" },
          "message": { "type": "string" },
          "data": { "$ref": "#/components/schemas/ContractLogListResponse" }
        }
      },
      "ContractLogDto": {
        "type": "object",
        "properties": {
          "contractCd": { "type": "string", "description": "계약 코드" },
          "updateNm": { "type": "string", "description": "업데이트 항목" },
          "updateReason": { "type": "string", "description": "업데이트 사유" },
          "regId": { "type": "string", "description": "등록자 아이디" },
          "regNm": { "type": "string", "description": "등록자명" },
          "regCd": { "type": "string", "description": "등록자 코드" },
          "regDtm": { "type": "string", "description": "등록일시" }
        }
      },
      "ContractLogListResponse": {
        "type": "object",
        "properties": {
          "totalCount": { "type": "integer", "format": "int64" },
          "item": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/ContractLogDto" }
          }
        },
        "description": "계약정보 로그 목록 조회 Response"
      },
      "ContractListRequest": {
        "type": "object",
        "properties": {
          "recentContractStartDt": {
            "type": "string",
            "description": "최근 계약일자 시작일자",
            "example": "2025-01-01"
          },
          "recentContractEndDt": {
            "type": "string",
            "description": "최근 계약일자 종료일자",
            "example": "2025-12-31"
          },
          "userComCd": {
            "type": "string",
            "description": "회원 구분 001(사업자), 002(개인)",
            "example": "001"
          },
          "bizComCd": {
            "type": "string",
            "description": "사업자 구분 001(법인), 002(개인)",
            "example": "001"
          },
          "contractStatusComCd": {
            "type": "string",
            "description": "사업자 구분 001(신규계약), 002(재계약), 003(계약만료), 004(계약해지), 005(계약대기), 006(계약연장), 007(계약보류)",
            "example": "001"
          },
          "industryCdList": {
            "type": "array",
            "description": "업종구분 1(부동산건설업-시공사), 2(부동산건설업-시행사), 3(부동산건설업-분양대행사), 4(부동산건설업-감정평가사), 5(금융업-은행, 6(금융업-증권사), 7(금융업-자산운용사), 8(금융업-보험사), 9(금융업-신탁사), 10(공공기관-공공기관), 11(공공기관-공기업)12(기타-회계/세무), 13(기타-광고대행사), 14(기타-기타)",
            "example": "['1','3']",
            "items": {
              "type": "string",
              "description": "업종구분 1(부동산건설업-시공사), 2(부동산건설업-시행사), 3(부동산건설업-분양대행사), 4(부동산건설업-감정평가사), 5(금융업-은행, 6(금융업-증권사), 7(금융업-자산운용사), 8(금융업-보험사), 9(금융업-신탁사), 10(공공기관-공공기관), 11(공공기관-공기업)12(기타-회계/세무), 13(기타-광고대행사), 14(기타-기타)",
              "example": "['1','3']"
            }
          },
          "searchKeyword": {
            "type": "string",
            "description": "계정 정보 검색 조건(계약코드, 회원명)",
            "example": "테스트"
          },
          "searchType": {
            "type": "string",
            "description": "검색 타입 (all: 전체, contractCd: 계약코드, name: 이름, contractName: 회원명)",
            "example": "all"
          },
          "orderBy": {
            "type": "string",
            "description": "정렬 구분 [회원 구분: userComNm, 사업자 구분: bizComNm, 업종 구분1: industryTypName1, 업종 구분2: industryTypName2, 계약 상태: contractStatusComNm]",
            "example": "userComNm"
          },
          "order": {
            "type": "string",
            "description": "정렬 (오름차순 ASC, 내림차순 DESC)",
            "example": "DESC"
          },
          "defaultOrder": {
            "type": "string",
            "description": "기본 정렬(최근 업데이트 일자)",
            "example": "DESC"
          },
          "pageSize": {
            "type": "integer",
            "description": "페이징 사이즈",
            "format": "int32",
            "example": 30
          },
          "pageIndex": {
            "type": "integer",
            "description": "현재 페이지",
            "format": "int32",
            "example": 1
          }
        },
        "description": "계정 정보 목록 조회 Request"
      },
      "ApiCommonResponseContractListResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "code": { "type": "integer", "format": "int32" },
          "message": { "type": "string" },
          "data": { "$ref": "#/components/schemas/ContractListResponse" }
        }
      },
      "ContractDto": {
[...]
